*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

background:hsl(185,75%,39%);
height:100vh;

display:flex;
justify-content:center;
align-items:center;

overflow:hidden;
position:relative;

}

.top-bg{

position:absolute;
top:-500px;
left:-250px;
width:900px;

}

.bottom-bg{

position:absolute;
right:-250px;
bottom:-500px;
width:900px;

}

.card{

width:350px;

background:white;

border-radius:18px;

overflow:hidden;

box-shadow:0 30px 40px rgba(0,0,0,.25);

position:relative;

z-index:10;

}

.card-header{

height:140px;

background:url(images/bg-pattern-card.svg);

background-size:cover;

}

.profile{

width:100px;

height:100px;

border-radius:50%;

border:5px solid white;

position:absolute;

left:50%;

transform:translateX(-50%);

top:90px;

}

.info{

padding-top:70px;

text-align:center;

}

.info h2{

font-size:24px;

color:#2d3248;

}

.info span{

font-weight:400;

color:#6a6f81;

}

.info p{

margin-top:10px;

color:#6a6f81;

font-size:16px;

margin-bottom:20px;

}

hr{

border:none;

height:1px;

background:#ddd;

}

.stats{

display:flex;

justify-content:space-around;

padding:25px 0;

text-align:center;

}

.stats h3{

font-size:22px;

color:#2d3248;

margin-bottom:6px;

}

.stats p{

font-size:12px;

letter-spacing:2px;

color:#6a6f81;

}